In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os, sys

current_dir = os.getcwd()
# Append the parent directory to sys.path
parent_dir = os.path.dirname(current_dir)
sys.path.append(parent_dir)

# ignore warrnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
from scripts.oil_price_eda_script import BrentOilPricesEDA

# Load Data
file_path = '../data/BrentOilPrices.csv'  
processor = BrentOilPricesEDA(file_path=file_path)

In [3]:
# Load Data
file_path = '../data/BrentOilPrices.csv'  
processor = BrentOilPricesEDA(file_path=file_path)

In [4]:
data = processor.load_data()
data

2025-02-21 18:18:04,836 - INFO - Data loaded successfully.
2025-02-21 18:18:04,838 - INFO - Data loading completed in 0:00:00.009829.

              Date  Price
0        20-May-87  18.63
1        21-May-87  18.45
2        22-May-87  18.55
3        25-May-87  18.60
4        26-May-87  18.63
...            ...    ...
9006  Nov 08, 2022  96.85
9007  Nov 09, 2022  93.05
9008  Nov 10, 2022  94.25
9009  Nov 11, 2022  96.37
9010  Nov 14, 2022  93.59

[9011 rows x 2 columns]

### Data Preprocessing

In [5]:
# Convert Date column to datetime format with inferred format
data = processor.format_date()

2025-02-21 18:18:05,197 - INFO - Date formatting completed in 0:00:00.333231.